<div class="container mt-4">

  <h2 class="text-center mb-4">Recetas uniandes</h2>

  <div *ngIf="recipe" class="row">

    <!-- Imagen -->
    <div class="col-md-4">
      <img [src]="recipe.imagen" class="img-fluid rounded" />
    </div>

    <!-- Información -->
    <div class="col-md-8">

      <h3>{{ recipe.nombre }}</h3>

      <div class="row mt-3">
        <div class="col-md-6">
          <p><strong>Porciones: </strong>{{ recipe.porciones }}</p>
          <p><strong>Dificultad: </strong>{{ recipe.dificultad }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Tiempo: </strong>{{ recipe.tiempo_minutos }} min</p>
          <p><strong>Tipo: </strong>{{ recipe.tipo }}</p>
        </div>
      </div>

      <hr />

      <h4>Ingredientes</h4>
      <ul>
        @for (ing of recipe.ingredientes; track ing.nombre) {
          <li>{{ ing.nombre }} – {{ ing.cantidad }}</li>
        }
      </ul>

      <h4 class="mt-4">Ingrediente más usado</h4>

<div class="alert alert-info">
  <strong>{{ getIngredienteMasUsado().nombre }}</strong>
  — {{ getIngredienteMasUsado().cantidad }}
</div>

      <h4 class="mt-4">Pasos</h4>
      <ol>
        @for (paso of recipe.pasos; track paso) {
          <li>{{ paso }}</li>
        }
      </ol>

      <button class="btn btn-primary mt-3" routerLink="/recipe">
        Regresar
      </button>

    </div>

  </div>
</div>
